# Dependências
node_modules
npm-debug.log

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Pastas de build
dist
build

# Pastas de teste
test
coverage

# Arquivos do Git
.git
.gitignore